html{
  display: inline-block;
  text-align:left;
  background-color:#001000;
  color:white;
  font-family:Verdana, sans-serif;
  /*text-shadow:0 0 100px white;*/
}
html{
  display: inline-block;
  text-align:left;
  background-color:#294E2B;
  color:white;
  font-family:Verdana, sans-serif;
  text-shadow:0 0 100px white;
}
#heading a{
  text-decoration: none;
}
#heading{
  background-color:green;
  float:top;
  padding:10px;
  text-shadow: 0px 0px 10px black;
}
#heading{
  background-color:#38733C;
  float:top;
  padding:10px;
  text-shadow: 0px 0px 10px black;
}
footer{
  text-align: center;
}
#everythingelse{
  text-align:left;
  margin: 12px;
  padding:12px;
  background-color:#001000;
  color:white;
}
#everythingelse{
  text-align:left;
  margin: 12px;
  padding:12px;
  background-color:#294E2B;
  color:white;
}
#dialog{
  text-align:center;
  padding:10px;
  margin:10px;
  background-color:darkgreen;
  border:solid 2px green;
}
#button{
  text-decoration:none; 
  height:50px; 
  background-color:darkgreen;
  padding:10; 
  margin:15; 
  border:solid black;
}

#button:hover{
  text-decoration:none; 
  height:50px; 
  background-color:green;
  padding:10; 
  margin:15; 
  border:solid black;
}
#broken-button{
  text-decoration:none;
  height:50px;
  background-color:gray;
  padding:10;
  margin:15;
  border:solid black;
}
#genelement{
  padding:20px;
  max-height: 50px;
}
#thumbnail{
  width:   120px;
  height:  90px;
}
#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background-color: green;
  opacity:.5;
  z-index: 99;
  text-align: center;
}
#loading-image {
  position: absolute;
  top: 25%;
  left: 40%;
}
center {
  text-align:center;
}
#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {
  #content-desktop {display: none;}
  #content-mobile {display: block;}
}
