/* Okay, so this is for change the background color, for put the text in center, change the font size and chage the font
The Symbol "*"
is for make this changes for everithing
 */

* {
    background-color: #282828;
    text-align: center;
    font-size: 20px;
    font-family: system-ui;
    list-style-type: none;
}

/* change color For Linked text  */
a{
    color: white;
}

/* change font color tex */
body{
    color: white;
}

/* Fix images sizes */
/*img{*/
    /*max-height: 500px;*/
    /*max-width: 500px;*/
    /*width: 500px;*/
    /*height: 400px;*/
/*}*/
