* {
    background-color: #4747;
    font-size: 20px;
    font-family: system-ui;
    list-style-type: none;
}

a{
    color: white;
}

body{
    color: white;
}

code {
	background-color: #DC6857;
	font-size: 16px;
	font-family: system-ui;
	word-wrap: break-word;
	width: 100%;
}

ul, li{
    list-style: inside circle;
    display:list-item;
}

table {
  border-collapse: collapse;
  border: 2px solid #DC6857;
} 

th,td {
  border: 2px solid #D5E561;
}
